<!-- app/views/patients/show.html.erb -->
<h1>Patient Details</h1>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div>
  <strong>ID:</strong> <%= @patient.patient_id %>
</div>

<div>
  <strong>First Name:</strong> <%= @patient.first_name %>
</div>

<div>
  <strong>Last Name:</strong> <%= @patient.last_name %>
</div>

<div>
  <strong>Date of Birth:</strong> <%= @patient.date_of_birth %>
</div>

<div>
  <strong>Email:</strong> <%= @patient.email %>
</div>

<%= link_to 'Back', patients_path, class: 'btn btn-secondary' %>

